@import 'settings';

table {
  table-layout: fixed;
}

span.glyphicon {
  cursor: pointer;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: medium;
  }
}